PORT=5000

MONGO_URI=mongodb://2310520021_db_user:NR7PAHrG0PKH5Hi3@ac-eyinkha-shard-00-00.t1brxnz.mongodb.net:27017,ac-eyinkha-shard-00-01.t1brxnz.mongodb.net:27017,ac-eyinkha-shard-00-02.t1brxnz.mongodb.net:27017/theDataHub?ssl=true&replicaSet=atlas-k1dk2i-shard-0&authSource=admin&appName=Cluster1

JWT_SECRET=mysecretkey